<div class="bread">
    <div class="container">
        <ol class="breadcrumb pd-3">
            <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin/post/request">Post</a></li>
            <li class="breadcrumb-item active" aria-current="page">Info</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Post Information (#<span id="p_id"><%= postInfo.p_id %></span>)
            </div>
            <div class="card-body">

                <div class="col-md-12">
                    <div class="card">
                        <div class="col-md-6 mr-auto pt-3 pl-4">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                Delete
                            </button>
                        </div>
                        <div class="card-body">

                            <table class="table">
                                <tbody>
                                    <tr class="bg-dark text-light">
                                        <th>Place Name</th>
                                        <td> <%= postInfo.place_name %> </td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td><%= postInfo.country %></td>
                                    </tr>
                                    <tr>
                                        <th>Cost</th>
                                        <td> <%= postInfo.cost %> </td>
                                    </tr>
                                    <tr>
                                        <th>Travel Medium</th>
                                        <td> <%= postInfo.travel_medium %> </td>
                                    </tr>
                                    <tr>
                                        <th>Short History</th>
                                        <td> <%= postInfo.short_history %> </td>
                                    </tr>
                                    <tr>
                                        <th>Place Info</th>
                                        <td><%= postInfo.place_info %></td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="input-group mb-3">
                                    <input type="text" id="commentBox" class="form-control"
                                        placeholder="Join the disccusion">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" id="btn-post" type="button">
                                            <span id="btn-span" role="status" aria-hidden="true"></span>
                                            Add Comment
                                        </button>
                                    </div>
                                </div>
                                <hr>
                                <div id="commentsBox">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modals Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile Deletation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="POST">
                <div class="modal-body">
                    Are you sure your want to delete this Post?
                </div>
                <input type="hidden" name="buttonType" value="delete">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    <a href="/admin/post/delete/<%= postInfo.p_id %>" class="btn btn-danger"
                        role="button">Yes</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {

        getComments();

        $('#btn-post').click(() => {
            var comment = $('#commentBox').val();
            var id = $('#p_id').text();
            console.log(comment, id)
            $('#btn-span').addClass('spinner-border spinner-border-sm');
            $.ajax({
                url: `/admin/post/postCommentAjax/${id}/${comment}`,

                success: (status) => {
                    $('#btn-span').removeClass();
                    $('#commentBox').val(' ');
                    getComments();
                }
            });
        });

        $('#commentsBox').on('click', 'button', (event) => {

            var id = $(event.currentTarget).attr("id");
            //alert(id);
            $.ajax({
                url: `/admin/post/commentDeleteAjax/${id}`,

                success: (status) => {
                    if (status) {
                        getComments();
                    }
                }
            });
        });

        function getComments() {
            var id = $('#p_id').text();
            $.ajax({

                url: `/admin/post/getCommentAjax/${id}`,
                success: (commentList) => {
                    //console.log(commentList);
                    var html = '';

                    if (commentList != null) {
                        for (var i = 0; i < commentList.length; i++) {
                            html += `<div class="card-body" style='border: 0.5px silver solid'>`;
                            html += `<strong> ${commentList[i].username} </strong> <br>`;
                            html += `<span> ${commentList[i].comment} </span> <br>`
                            html += `<small> ${commentList[i].date} </small> <br>`
                            html +=
                                `<button id='${commentList[i].c_id}' class='btn btn-danger'> Delete </button>`
                            html += '</div>';
                            html += '<hr>';
                        }
                        $('#commentsBox').html(html);
                    }
                }
            });
        }


    });
</script>