<div class="container">
  <div class="col-md-12">
    <div class="card card-body">
      <% for(var i = 0; i< postList.length; i++) {%>
      <div class="card">
        <div class="card-header">
          <%= postList[i].place_name %>
        </div>
        <div class="ml-auto">
          <a class="btn btn-info" href="/admin/post/accept/<%= postList[i].p_id %>" role="button">Accept</a>
          <a class="btn btn-danger" href="/admin/post/delete/<%= postList[i].p_id %>" role="button">Delete</a>
        </div>
        <div class="card-body">
          Country: <%= postList[i].country %> <br>
          Info: <%= postList[i].place_info %> <br>
          History: <%= postList[i].short_history %> <br>
          travel Medium: <%= postList[i].travel_medium %> <br>
          Cost: <%= postList[i].cost %> <br>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
