<div class="bread">
    <div class="container">
        <ol class="breadcrumb pd-3">
                  
        </ol>  
    </div>
</div>

<div class="container">  
    <div class="card card-body">
      <div class="p-3 ">
            <a class="btn btn-primary" href="/user/edit/<%= userInfo.u_id%>" role="button">Edit</a>
    </div>
      <div class="col-md-12">
          <table class="table">
              <tbody>
                  <tr>
                    <th>Id</th>
                      <td> <%= userInfo.u_id%> </td>
                     
                  </tr>
                  <tr>
                    <th>Name</th>
                    <td> <%= userInfo.u_name%> </td>
                      
                  </tr>
                  <tr>
                    <th>Username</th>
                    <td> <%= userInfo.username %> </td>
                      
                  </tr>
                  <tr>
                    <th>Contact</th>
                      <td> <%= userInfo.contact%> </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  
</div>

<%- contentFor('title') %>